{% if site.categories.size > 0 %}
<ul class="vertical menu" data-accordion-menu>
    <li>
        <a href="#">Categories</a>
        <ul class="menu vertical nested">
            {% for category in site.categories %}
            <li><a href="/category/{{ category | first }}">{{ category | first }}( {{ category | last | size }} )</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endif %}
{% if site.tags.size > 0 %}
<ul class="vertical menu" data-accordion-menu>
    <li>
        <a href="#">Tags</a>
        <ul class="menu vertical nested">
        {% for tag in site.tags %}
            <li><a href="/tag/{{ tag | first }}">{{ tag | first }}( {{ tag | last | size }} )</a></li>
        {% endfor %}
        </ul>
    </li>
</ul>
{% endif %}

